body {
  font-family: 'Source Code Pro', monospace;
  letter-spacing: 0.5px;
  word-spacing: 1px;
}

.regular-text {
  font-weight: 400; /* Regular weight */
}

.semi-bold-text {
  font-weight: 600; /* Semi-Bold weight */
}

.bold-text {
  font-weight: 700; /* Bold weight */
}

.bolder-text {
  font-weight: 800; /* Bold weight */
}

.boldest-text {
  font-weight: 900; /* Bold weight */
  display: inline;
}

/* The popup form - hidden by default */
.form-popup {
  border: 3px solid #f1f1f1;
  z-index: 10;
  max-width: 600px; /* Adjusted width for centering */
  padding: 20px;
  background-color: white;
  /* Removed the fixed positioning and other styles that conflict with centering */
}

/* Add styles to the form container */
.form-container {
  max-width: 300px;
  padding: 10px;
  background-color: white;
}

/* Full-width input fields */
.form-container input[type=text], .form-container input[type=password] {
  width: 100%;
  padding: 15px;
  margin: 5px 0 22px 0;
  border: none;
  background: #f1f1f1;
}

/* When the inputs get focus, do something */
.form-container input[type=text]:focus, .form-container input[type=password]:focus {
  background-color: #ddd;
  outline: none;
}

/* Set a style for the submit/login button */
.form-container .btn {
  background-color: #04AA6D;
  color: white;
  padding: 16px 20px;
  border: none;
  cursor: pointer;
  width: 100%;
  margin-bottom:10px;
  opacity: 0.8;
}

/* Add a red background color to the cancel button */
.form-container .cancel {
  background-color: red;
}

/* Add some hover effects to buttons */
.form-container .btn:hover, .open-button:hover {
  opacity: 1;
}

.modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5); /* Semi-transparent background */
  display: flex;
  justify-content: center;
  align-items: center;
  backdrop-filter: blur(5px); /* Blur effect */
}

.link {
  color: gray;
  text-decoration: underline;
  cursor: pointer;
}

.link:hover {
  color: black;
}

.question-button {
  padding: 15px 20px; /* Adds padding */
  margin: 5px; /* Adds a little space between the buttons */
  border: 2px solid black; /* Black border */
  background-color: white; /* White background */
  cursor: pointer; /* Changes cursor to pointer */
  display: inline-block; /* Displays buttons inline */
}

/* Additional styling for hover effects, if desired */
.question-button:hover {
  background-color: #f1f1f1; /* Light grey background on hover */
}

.text {
  letter-spacing: 1px; /* Adjusts spacing between letters */
  word-spacing: 2px; /* Adjusts spacing between words */
}

.qa-item {
  display: flex;
  align-items: flex-start;
  margin-bottom: 10px;
}

.qa-label {
  font-weight: bold;
  margin-right: 5px; /* Adjust this value as needed */
}

.qa-content {
  flex: 1;
}

.answer-item {
  display: flex;
  align-items: flex-start;
  /* margin-left: 20px; Adjust this value to align answers under the question */
  margin-bottom: 5px; /* Space between each answer */
}

.load-more-answers {
  margin-left: 20px; /* Align 'LOAD MORE ANSWERS' with answer text */
  font-weight: bold;
  cursor: pointer;
  background-color: white;
  border: none;
  padding: 5px;
  margin-top: 3px;
  margin-bottom: 3px;
}
.load-more-answers:hover {
  background-color: #f1f1f1; /* Light grey background on hover */
}
.answerInfo {
  margin-left: 22px;
  font-family: 'Source Code Pro', monospace;
  letter-spacing: 0.1px;
  word-spacing: .1px;
  font-size: 12px;
}

/*
.button-container {
  display: flex;
  justify-content: flex-start;
}
*/