body {
  font-family: 'Source Code Pro', monospace;
  letter-spacing: 0.5px;
  word-spacing: 1px;
}

.regular-text {
  font-weight: 400;
}

.semi-bold-text {
  font-weight: 600;
}

.bold-text {
  font-weight: 700;
}

.bolder-text {
  font-weight: 800;
}

.boldest-text {
  font-weight: 900;
  display: inline;
}

.form-popup {
  border: 3px solid #f1f1f1;
  z-index: 10;
  max-width: 600px;
  padding: 20px;
  background-color: white;
}

.form-container {
  max-width: 300px;
  padding: 10px;
  background-color: white;
}

.form-container input[type=text], .form-container input[type=password] {
  width: 100%;
  padding: 15px;
  margin: 5px 0 22px 0;
  border: none;
  background: #f1f1f1;
}

.form-container input[type=text]:focus, .form-container input[type=password]:focus {
  background-color: #ddd;
  outline: none;
}

.form-container .btn {
  background-color: #04AA6D;
  color: white;
  padding: 16px 20px;
  border: none;
  cursor: pointer;
  width: 100%;
  margin-bottom:10px;
  opacity: 0.8;
}

.form-container .cancel {
  background-color: red;
}


.form-container .btn:hover, .open-button:hover {
  opacity: 1;
}

.modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
  backdrop-filter: blur(5px);
  z-index: 5000;
}

.link {
  color: gray;
  text-decoration: underline;
  cursor: pointer;
}

.link:hover {
  color: black;
}

.question-button {
  padding: 15px 20px;
  margin: 5px;
  border: 2px solid black;
  background-color: white;
  cursor: pointer;
  display: inline-block;
}


.question-button:hover {
  background-color: #f1f1f1;
}

.text {
  letter-spacing: 1px;
  word-spacing: 2px;
}

.qa-item {
  display: flex;
  align-items: flex-start;
  margin-bottom: 10px;
}

.qa-label {
  font-weight: bold;
  margin-right: 5px;
}

.qa-content {
  flex: 1;
}

.answer-item {
  display: flex;
  align-items: flex-start;
  margin-bottom: 5px;
}

.load-more-answers {
  margin-left: 20px;
  font-weight: bold;
  cursor: pointer;
  background-color: white;
  border: none;
  padding: 5px;
  margin-top: 3px;
  margin-bottom: 3px;
}
.load-more-answers:hover {
  background-color: #f1f1f1;
}
.answerInfo {
  margin-left: 22px;
  font-family: 'Source Code Pro', monospace;
  letter-spacing: 0.1px;
  word-spacing: .1px;
  font-size: 12px;
}

.modal-overlay-image {
  position: fixed;
  top: 0;
  left: 0;
  width: 50%;
  height: 50%;
  background-color: rgba(0, 0, 0, 0.7);
  display: flex;
  justify-content: center;
  align-items: center;
}

.modal-image {
  max-width: 50%;
  max-height: 50%;
  object-fit: contain;
}

.close-modal {
  position: absolute;
  top: 10px;
  right: 10px;
  background: #f1f1f1;
  border-radius: 50%;
  border: none;
  cursor: pointer;
  z-index: 100;
}

.picture {
  margin-left: 22px;
}